.nav {
  display: flex;
  gap: 16px;
  background-color: #282c34;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.link:hover,
.link.active {
  color: #61dafb;
}
